body{
	background-color: #DFB78C
}
html{
	font-family:sans-sherif
}
.carte-passion{
	border:2px solid #333;
	background-color: #FFFFFF;
	padding:20px;
	margin: auto;
	margin-bottom: 20px;
	width:55%;
	
}
	